<div>
    <a [routerLink]="['/products/1']" [queryParams]="{ page: 1, sort: 'asc'}">Pass Query Params</a>
</div>

<p class="mt-2">product-list works!</p>
<h1>{{ pageTitle }}</h1> <!-- Expression, Interpolation-->
<div class="alert alert-primary">2 + 2 is {{ 2 + 2 }}</div>

<div><input type="text" placeholder="Filter Products" class="form-control" [(ngModel)]="listFilter"></div>
<!-- Two Way Binding -->
<div class="m-2">
    Filtered by: {{ listFilter }}
</div>
<div class="table-responsive">
    @if (products$ | async; as products){
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th><button class="btn btn-primary" (click)="toggleImage()">{{ showImage ? 'Hide': 'Show' }}
                        Image</button></th> <!-- Event Binding -->
                <th>Product Name</th>
                <th>Product Code</th>
                <th>Release Date</th>
                <th>Description</th>
                <th>Price</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            @for( product of products; track product.productId){
            <tr>
                <td>
                    @if (showImage){
                    <img [src]="product.imageUrl" width="50" height="50" />
                    }
                    <!--  <img *ngIf="showImage" src="{{ product.imageUrl }}" width="50" height="50" /> -->
                </td>
                <!-- Property Binding -->
                <td>
                    <!-- Recommended -->
                    <a [routerLink]="['/products', product.productId]">{{ product.productName | uppercase }} </a>
                    <!-- <a routerLink="/products/{{product.productId}}">{{ product.productName | uppercase }}</a> -->
                </td>
                <td>{{ product.productCode | convertToSpaces: '-' }}</td>
                <td>{{ product.releaseDate }}</td>
                <td>{{ product.description | lowercase }}</td>
                <td>{{ product.price }}</td>
                <td><app-star [rating]="product.starRating" (ratingClicked)="onRatingClicked($event)"></app-star></td>
            </tr>
            }
        </tbody>
    </table>
    }
</div>

@if (errorMessage){
<div class="alert alert-danger" role="alert">
    {{ errorMessage }}
</div>
}